body {
    display: flex;
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(189, 187, 181);
}
.routerview{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.divPrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    margin-bottom: 5px;
}

.marginAuto{
    margin: auto;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #102f5E;
    color: white;
    padding: 20px;
}

.error{
    color: red;
    font-size: 1.1em;
}

.router-link-active{
    opacity: 0.5;
}

/* partie connection ou inscription  */

.auth{
    display: flex;
    width: 60%;
    min-height: auto;
    margin: auto;
}

.formAuth{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
    background-color: #102f5E;
    color: white;
}

.formAuth nav{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.formAuth a {
    border: 2px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.formAuth div{
    display: flex;
    flex-direction: column;
    height: auto;
}

.formAuth form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

.formAuth form input{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.buttonAuth {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
}

/* partie home */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 20px;
}

nav a{
    text-decoration: none;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.listPost{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.Post {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
}

.Post_titre{
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid black;
    text-align: left;
    padding-left: 30px;
    background-color: #102F5E;
    color: white;
}

.Post_titre div{
    margin-left: 20px;
}
/* partie openpost */

.PostView{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin-top: 20px; */
    padding-left: 10px;
    padding-right: 10px;
}

.ButtonPost{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.ButtonPost button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.commentaire{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    background-color:#102F5E;
}
.commentaire p{
    color: white;
}
.listCommentaire{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.ButtonCommentaire{
    display: flex;
    margin: 0;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(27, 46, 77);
}

.ButtonCommentaire input{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

/* commentaire dans la liste */

.imgCommentaire{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.commentaireBox{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

.commentaireText{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.commentaireText p{
    color: black;
}

.commentaireText div{
    display: flex;
    align-items: center;
    padding: 10px;
}

.commentaireText div h4{
    margin-left: 20px;
}

.commentaireBox_button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* modification des commentaire */

.commentaireModif{
    flex-direction: column;
}

.commentaireModif_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentaireModif_form div{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

#modifCommentaire{
    width: 80%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

/* modif du post  */

.modifPost_form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modifPost_form div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: none;
}



.modifPost_form input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.createPost_form_inputPost{
    height: 60px;
}

/* partie profil */

.photoProfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profil{
    height: 100%;
    display: flex;
}

.profilBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    background-color: #102F5E;
    color: white;
    border-radius: 20px;
}

.profilBox a{
    padding: 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
}

.profilBox_view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilButton{
    display: flex;
    justify-content: space-around;
    margin:30px;
    width: 100%;
}

.profilButton button{
    padding: 10px;
    border-radius: 10px;
}

.profilView{
    text-decoration: none;
    color: white;
    background-color: #102f5E;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

.deletePost{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
    height: 30px;
}

/* cree post */

.createPost{
    background-color: #102f5E;
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}  

.createPost_form{
    display: flex;
    flex-direction: column;
}

.createPost_form input {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.createPost_form_button{
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* modif post */

.profilForm{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profilForm input{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.profilForm_checbox label{
    margin-left: 10px;
}

/* parti admin */

.adminView{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.navAdmin{
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navAdmin a{
    padding: 10px;
    background-color: #102f5E;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.listAdmin{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.listAdmin p {
    margin: auto;
}
.listAdmin_box{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.listAdmin_item{
    background-color: #102f5E;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
    border-radius:  10px;
    padding: 20px;
}

.listAdmin_item img{
    margin: auto;
}

.listAdmin_item p {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 650px){
    /* patie auth */
    .auth{
        width: 90%;
        font-size: .6em;
    }
     .auth form{
        width: 90%;
     }

     /* partie nav  */
     .routerview nav {
         flex-wrap: wrap;
         font-size: 1em;
         padding: 0px;
     }
     

     .routerview nav a {
         margin: 10px;
     }

     /* patie home */

     .listPost {
         width: 90%;
     }

     .photoProfil{
        margin: 10px;
        width: 50px;
        height: 50px;
     }

     .Post_titre{
         padding: 0px;
     }

     .Post_titre div{
         margin-left: 5px;
     }

     .profilBox{
         width: 80%;
         padding: 20px;
     }

     .profilForm{
         width: 80%;
     }

     .profilForm img{
         margin: auto;
     }

     .profilButton{
         flex-direction: column;
         margin: 10px;
     }

     .profilButton button{
         margin-top: 10px;
     }
}